In [ ]:
import numpy as np

In [ ]:
arr1 = np.arange(1, 11)
arr1

In [ ]:
arr2 = np.random.randint(1, 101, size=(3, 3))  # числа 1..100
arr2

In [ ]:
sum_val = arr1.sum()
mean_val = arr1.mean()
max_val = arr1.max()

sum_val, mean_val, max_val

In [ ]:
arr1_times2 = arr1 * 2
arr1_times2

In [ ]:
arr1_replaced = arr1.copy()
arr1_replaced[arr1_replaced > 5] = 0
arr1_replaced